<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="input-box">
            <input type="text" name="title" value="{{post.title}}" placeholder="제목을 입력하세요" required>
        </div>
        <div class="input-box">
            <textarea name="content" placeholder="내용을 입력하세요" required>{{post.content}}</textarea>
        </div>
        <button type="submit">저장</button>
    </form>
</body>
</html>